<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="modUserName" value="******"/>
    <add key="modPassword" value="******"/>
    <add key="subReddit" value="******"/>
    <add key="triggerText" value="******"/>
    <add key="assignFlair" value="******"/>
    <add key="assignFlairClass" value="******"/>
    <add key="readBackDays" value="******"/>
  </appSettings>
</configuration>